.shopCategory-banner {
    display: block;
    margin: 30px auto;
    width: 80%;
}

.shopCategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopCategory-sort {
    padding: 7px 13px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #888;
}

.shopCategory-indexSort p {
    margin-left: -30px;
    font-size: 15px;
}

.shopCategory-indexSort p span {
    font-weight: 600;
}

.shopCategory-products {
    margin: 20px 130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 80px;
}

.shopCategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 140px auto;
    width: 190px;
    height: 59px;
    border-radius: 30px;
    background-color: #ededed;
    color: #787878;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

/*=============== Responsive ============== */

@media (max-width:1280px) {
    .shopCategory-banner {
        margin: 20px auto;
        width: 90%;
    }

    .shopCategory-indexSort {
        width: 90%;
        margin: auto;
    }

    .shopCategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }

    .shopCategory-indexSort p {
        margin-left: 0px;
        font-size: 12px;
    }

    .shopCategory-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }

    .shopCategory-products .item {
        margin: auto;
    }

    .shopCategory-loadmore {
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}

@media (max-width:800px) {
    .shopCategory-banner {
        width: 95%;
    }

    .shopCategory-products {
        width: 95%;
    }

    .shopCategory-loadmore {
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}

@media (max-width:500px) {
    .shop-category {
        margin-top: 40px;
    }

    .shopCategory-products {
        grid-template-columns: 1fr 1fr;
    }
}