.offers {
    width: 80%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 90px;
    margin-bottom: 150px;
    background: linear-gradient(180deg , #ffe1e1 0% , #e1ff1a22 60%);
}
.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1 {
    color: #171717;
    font-size: 49px;
    font-weight: 600;
}
.offers-left p {
    color: #171717;
    font-size: 14px;
    font-weight: 600;
}
.offers-left button {
    width: 190px;
    height: 45px;
    text-align: center;
    border-radius: 35px;
    background-color: var(--light-red);
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    transition: .3s;
}
.offers-left button:hover {
    background-color: #ff4141dc;
}
.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
.offers-right img {
    width: 280px;
}
/*=============== Responsive ============== */ 
@media (max-width: 1280px) {
    .offers {
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .offers-left h1 {
        font-size: 40px;
    }
    .offers-left p {
        font-size: 18px;
    }
    .offers-right img {
        width: 250px;
    }
    .offers-left button {
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .offers-right {
        padding-top: 30px;
    }

}
@media (max-width: 1024px) {
    .offers {
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }
    .offers-left h1 {
        font-size: 30px;
    }
    .offers-left p {
        font-size: 16px;
    }
    .offers-right img {
        width: 200px;
    }
    .offers-left button {
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offers-right {
        padding-top: 10px;
    }

}
@media (max-width: 800px) {
    .offers {
        margin-bottom: 60px;
    }
    .offers-left h1 {
        font-size: 22px;
    }
    .offers-left p {
        font-size: 13px;
    }
    .offers-right img {
        width: 180px;
    }
    .offers-left button {
        width: 140px;
        height: 30px;
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    .offers {
        width: 90%;
        padding: 0px 30px;
        height: 25vh;
        margin: 100px auto 50px auto;
    }
    .offers-left h1 {
        font-size: 16px;
    }
    .offers-left p {
        font-size: 10px;
    }
    .offers-right img {
        width: 120px;
    }
    .offers-left button {
        width: 120px;
        height: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
}